/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
    --background: #000028;
    --subtitles-color: var(--background);
    --main-text-color: #ffc2e6;
    --header-text-background: var(--accent-color);
    --button-color: var(--accent-color);
    --button-border-color: var(--accent-color);
    --button-hover-border-color: rgba(255, 0, 112, 0.4);
    --focus-text-color: #db00ff;
    --header-background-image: url("../images/cover-image-dark.png");
    --corners-border-color: var(--accent-color);
    --p-and-a-color: #f1b2ce;
    --subheader-color: var(--accent-color);
    --subtitles-background-color: var(--subtitles-color);
    --link-shadow: 2px 2px var(--accent-color);
    --button-border-bottom-color: var(--accent-color);
    --rec-display-mode: block;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000028;
        --subtitles-color: var(--background);
        --main-text-color: #ffc2e6;
        --header-text-background: var(--accent-color);
        --button-color: var(--accent-color);
        --button-border-color: var(--accent-color);
        --button-hover-border-color: rgba(255, 0, 112, 0.4);
        --focus-text-color: #db00ff;
        --header-background-image: url("../images/cover-image-dark.png");
        --corners-border-color: var(--accent-color);
        --p-and-a-color: #f1b2ce;
        --subheader-color: var(--accent-color);
        --subtitles-background-color: var(--subtitles-color);
        --link-shadow: 2px 2px var(--accent-color);
        --button-border-bottom-color: var(--accent-color);
        --rec-display-mode: block;
    }
}
