/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 23.4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2,
h3,
h4,
p {
  font-size: var(--main-font-size);
}

h2 {
  font-weight: var(--bold-font-weight);
}

h3 {
  font-weight: var(--bold-font-weight);
  background-color: var(--header-text-background);
  margin-bottom: 10px;
}
h4 {
  font-weight: var(--normal-font-weight);
  background-color: var(--header-text-background);
  margin-bottom: 10px;
}

p {
  font-weight: var(--normal-font-weight);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  font-family: inherit;
  font-size: var(--main-font-size);
  line-height: 18px;
  font-weight: var(--normal-font-weight);
  color: var(--main-text-color);
}

a {
  text-shadow: 2px 2px var(--header-text-background);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid var(--main-text-color);

}

a:focus {
  outline: 1px solid var(--main-text-color);
}

button {
  padding: 0 13px;
  height: 26px;
  border: 1px solid transparent;
}

button:hover {
  border-color: var(--button-hover-border-color);
}

button:focus,
button:focus-visible {
  outline: none;
}

button:focus-visible {
  border-bottom-color: var(--main-text-color);
}
