/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
    --background: #fff1f7;
    --main-text-color: #353430;
    --accent-color: #ff0070;
    --header-text-background: #FF8DCB;
    --focus-text-color: #FFC2E6;
    --button-color: var(--main-text-color);
    --button-border-color: var(--main-text-color);
    --button-hover-border-color: rgba(50, 49, 45, 0.4);
    --header-background-image: url("../images/cover-image-light.png");
    --corners-border-color: var(--main-text-color);
}
